<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="app-name" source="spring.application.name" defaultValue="app"/>
    <springProperty scope="context" name="log-path" source="logging.file.path" defaultValue="logs"/>
    <property name="file-path" value="${log-path}/${app-name}"/>

    <appender name="APP-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%X{x-request-id} | ${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="APP-CONSOLE-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="APP-CONSOLE"/>
    </appender>
    <appender name="APP-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${file-path}/${app-name}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${file-path}/${app-name}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %X{x-request-id} | ${FILE_LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>
    <appender name="APP-FILE-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="APP-FILE"/>
    </appender>
<!--    <logger name="org.springframework.security" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="APP-CONSOLE-ASYNC" />-->
<!--    </logger>-->
    <root>
        <level value="INFO"/>
        <appender-ref ref="APP-CONSOLE-ASYNC"/>
        <appender-ref ref="APP-FILE-ASYNC"/>
    </root>
</configuration>