<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ken.rt.auth.repository.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="pers.ken.rt.auth.repository.po.Account">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
      <result property="deptCodes" column="dept_codes" jdbcType="VARCHAR"
              typeHandler="org.apache.ibatis.type.ArrayTypeHandler"/>
            <result property="registeredAt" column="registered_at" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        mobile,email,nickname,
        avatar,status,registered_at,
        created_at,updated_at
    </sql>
    <select id="selectByUserGroup" resultType="pers.ken.rt.auth.repository.po.Account">
      select account.*
      from account
             join user_group_rel on account.id = user_group_rel.user_id
      where user_group_rel.group_id = #{userGroupId}
    </select>
</mapper>
